# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.settings/
.project
bin/

# IntelliJ
.idea/
*.iml

# Gradle
build/
.gradle/

# Emacs
*~
[#]*[#]
.\#*