<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.mapsforge.map.mapfile-writer"
	version="${mapfile.writer.version}">

	<requires>
		<!--
			these are plugins we require. Usually only
			org.openstreetmap.osmosis.core.plugin.Core will be required.
		-->
		<import plugin-id="org.openstreetmap.osmosis.core.plugin.Core"
			plugin-version="0.36" reverse-lookup="false" />
	</requires>

	<!--These are library-files we require including our own code. -->
	<runtime>
		<library id="mycode" path="/" type="code" />
	</runtime>

	<!--
		This is where our plugin plugs into. The extension-point 'task' with a
		subclass of PluginLoader named 'WriteOSMBinPlugin' that tells Osmosis
		what tasks are provided.
	-->
	<extension plugin-id="org.openstreetmap.osmosis.core.plugin.Core"
		point-id="Task" id="org.mapsforge.MapFileWriter">
		<parameter id="name" value="mapfile-writer" />
		<parameter id="class"
			value="org.mapsforge.map.writer.osmosis.MapFileWriterPluginLoader" />
	</extension>
</plugin>