<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mapsforge.android.extras"
    android:versionCode="60"
    android:versionName="0.6.0" >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />
    <application
        android:allowBackup="true"
    />
</manifest>
