<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mapsforge.samples.android"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Write permission needed only for DownloadManager -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".SamplesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mapsforge Samples"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Samples"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <!--
                Support URIs like "mapsforgesamples://?activity=DefaultTheme&mapdir=/path/to/my/maps&mapfile=my.map".
                Provide custom defaults for SamplesBaseActivity and/or directly jump into an activity.
                Serves as a substitute for command line arguments for easy launches during development.
                If it does not work, check if your IDE (or other tooling) requires you escape the & characters as \&.
                -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mapsforgesamples" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BubbleOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ClusterMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DiagnosticsMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DownloadCustomLayerViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DownloadLayerViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DualMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DualOverviewMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GettingStarted"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GroupMarkerExample"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".HillshadingMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ItemDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Samples" />
        </activity>
        <activity
            android:name=".LabelLayerUsingLabelCacheMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LabelLayerUsingMapDataStoreMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LocationOverlayMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LongPressAction"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MultiLingualMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MultiMapLowResWorld"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".OverlayMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PoiSearchViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ReverseGeocodeViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".RotateMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SimplestMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StyleMenuMapViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".TileStoreLayerViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ViewOverlayViewer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Samples" />
        </activity>
    </application>

</manifest>
